/* =============
    Variables
============= */

// Define the breakpoints
// Small tablets and large smartphones
$screen-sm-min: 576px;

// Small tablets
$screen-md-min: 768px;

// Large tablets and small desktops
$screen-lg-min: 992px;

// Large desktops
$screen-xl-min: 1200px;

// Colors
$white: #FFF6EB;
$grey: #AEA8A0;
$black: #212227;
$green: #0D5249;
$red: #760505;
$cream: #FFEAD0;
$gold: #EEC170;
