/* =============
    Demo
============= */
#demo-container{
    display: grid;
    grid-template-areas: auto 50% auto;
    grid-template-areas: ". demo .";

    >div{
        grid-area: demo;
        ul{
            display: flex;
        }
    }
}
.ball{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
.ball1{
    background-color: deeppink;
}
.ball2{
    background-color: greenyellow;
}
.ball4{
    background-color: rebeccapurple;
}
