/* =============
    Index
============= */
#index {
	background-color: $black;
	p {
		background-color: $white;
		font-size: rem-calc(20);
		opacity: 90%;
		padding-bottom: 10%;
		padding-top: 10%;
		text-align: center;
	}
	@include md {
		p:hover {
			opacity: 0;
		}
	}
	h2 {
		color: $cream;
		text-align: center;
	}
	#index-intro-container {
		background-color: $black;
		height: 100vh;
		@include lg {
			//height: 150vh;
		}
		#name-svg {
			margin-top: 100px;
			@include lg {
				margin-top: 0px;
			}
		}
		h1 {
			color: $cream;
			text-align: center;
		}
		#manicule {
			height: 10%;
			padding-bottom: 30px;
			padding-left: 40%;
			padding-top: 30px;
			width: 10%;
			@include lg {
				height: 10%;
				padding-left: 47%;
				padding-top: 75px;
				width: 5%;
			}
		}
	}
	#index-design-container {
		ul {
			margin: auto 5%;
			@include md {
				column-gap: 20px;
				display: grid;
				grid-template-columns: repeat(2, 1fr);
			}
			@include lg {
				column-gap: 50px;
				margin: auto 15%;
			}
			#baskerville {
				background-image: url('../img/design/baskerville-mockup.jpg');
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
				height: 50vh;
				width: 100%;
				@include md {
					grid-column-start: 2;
					grid-row-end: 2;
					grid-row-start: 1;
					height: 40vh;
				}
				@include lg {
					height: 55vh;
				}
			}
			#bertoia {
				background-image: url('../img/design/bert.jpg');
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
				height: 50vh;
				width: 100%;
				@include md {
					grid-column-end: 3;
					grid-column-start: 1;
					grid-row-start: 2;
				}
				@include lg {
					height: 55vh;
				}
			}
			#basement {
				background-image: url('../img/design/basement_cover.jpg');
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
				height: 50vh;
				width: 100%;
				@include md {
					grid-column-start: 1;
					grid-row-start: 1;
					height: 40vh;
				}
				@include lg {
					height: 55vh;
				}
			}
			#pcc {
				background-image: url('../img/design/pcc.jpg');
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
				height: 50vh;
				width: 100%;
				@include md {
					grid-column-end: 3;
					grid-column-start: 1;
					grid-row-start: 3;
				}
				@include lg {
					height: 55vh;
				}
			}
		}
	}
	#index-photography-container {
		ul {
			margin: auto 5%;
			@include md {
				column-gap: 20px;
				display: grid;
				grid-template-columns: repeat(2, 1fr);
			}
			@include lg {
				column-gap: 50px;
				margin: auto 15%;
			}
			#blue-van {
				background-image: url('../img/photog/blue-van.jpg');
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
				height: 50vh;
				width: 100%;
				@include md {
					grid-column-start: 1;
					grid-row-start: 1;
					height: 40vh;
				}
				@include lg {
					height: 55vh;
				}
			}
			#portrait {
				background-image: url('../img/photog/portrait.jpg');
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
				height: 50vh;
				width: 100%;
				@include md {
					grid-column-start: 2;
					grid-row-end: 2;
					grid-row-start: 1;
					height: 40vh;
				}
				@include lg {
					height: 55vh;
				}
			}
			#beach {
				background-image: url('../img/photog/beach.jpg');
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
				height: 50vh;
				width: 100%;
				@include md {
					grid-column-end: 3;
					grid-column-start: 1;
					grid-row-start: 2;
				}
				@include lg {
					height: 55vh;
				}
			}
			#star {
				background-image: url('../img/photog/star.jpg');
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
				height: 50vh;
				width: 100%;
				@include md {
					grid-column-end: 3;
					grid-column-start: 1;
					grid-row-start: 3;
				}
				@include lg {
					height: 55vh;
				}
			}
		}
	}
}
